@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler{
    border: 1px solid white;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}


/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #41434b;

} */

/* li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo{
    cursor: pointer;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s ;
}
    
.nav_links li a:hover{
       color: #FEBB75
}

button{
       padding: 9px 25px;
       background-color: #876d97;
       border: none;
       border-radius: 50px;
       cursor: pointer;
       transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #f9ac66;
} */